body{
    margin: 0;
    padding: 0;
    padding-top: 5%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    font-family: sans-serif;
    background: #e91e63;
    box-sizing: border-box;
}
nav{
    
    display: flex;
    width: 100%;
    background: #795548;
    justify-content: center;
    align-items: center;
    height: 100px;
}

main{
    padding: 0;
    border: 0;
    display: flex;
    width: 100%;
    background: #56c435;
    justify-content: center;
    align-items: center;
    height: 200px;

}
main .box{
    width: 500px;
}
main p{
    margin: 0;
    padding: 0;
    font-size: 24px;
}
main .rating{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;

    border: 1px solid #000;
    box-sizing: border-box;
    background: linear-gradient(to right, #f00, #ff0, #0f0);
}
main .rating input
{
    display: none;
}
main .rating label
{
    display: block;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: flex;   
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-sizing: border-box;

    font-size: 20px;
    color: #000;
    background: #fff;
    border-left: 1px solid #000;
}
main .rating input[type="radio"]:hover ~ label,
main .rating input[type="radio"]:checked ~ label
{
    background: transparent;

}

footer{
    display: flex;
    width: 100%;
    background: #fffc93;
    justify-content: center;
    align-items: center;
    height: 200px;
}
footer .box{
    position: relative;
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
    color: #795548;
    overflow: hidden;
    padding: 0 10px;
}
footer .box:last-child{
    border-right: none;
}
footer .box .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 28px;
    transition: 0.5s;
}
footer .box .icon .fa{
    padding-right: 15px;
    transition: 0.8s;
}
footer .box:hover .icon
{
    transform: translateY(-100%);
}
footer .box:hover .icon .fa
{
    transform: translateY(100px);
    font-size: 80px;
    opacity: 0.2;
    transition-delay: 0.7s;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .box:hover .details
{
    transform: translateY(-70px) ;
    transform-origin: center;
    font-size: 28px;
    transition-delay: 0.7s;
}