@import url("./body.css");
@import url("./header.css");
@import url("./navigation.css");
@import url("./footer.css");


/* main block - start */
main {
    padding: 0;
    border: 0;
    display: block;
    width: 100%;
    background: #56c435;

}

/* main block - slaider - start */
main .content-slider {

    height: calc(100vh - var(--head-h) - var(--nav-h) - 12px);
    width: 100%;
    position: relative;

}

.content-slider ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}

.content-slider ul li {
    list-style: none;
    position: relative;
    width: 20%;
    height: 100%;
    border-right: 1px solid #000;
    padding: 0 10px;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;

}

.content-slider ul li:nth-child(1) {
    background: url('./img/pexels-1.jpeg');
    background-size: cover;
    background-position: left;
}

.content-slider ul li:nth-child(2) {
    background: url('./img/pexels-2.jpeg');
    background-size: cover;
    background-position: left;
}

.content-slider ul li:nth-child(3) {
    background: url('./img/pexels-3.jpeg');
    background-size: cover;
    background-position: left;
}

.content-slider ul li:nth-child(4) {
    background: url('./img/pexels-4.jpeg');
    background-size: cover;
    background-position: left;
}

.content-slider ul li:nth-child(5) {
    background: url('./img/pexels-5.jpeg');
    background-size: cover;
    background-position: left;
}

.content-slider ul li:hover {
    width: 160%;

}

.content-slider ul li .content {
    position: absolute;
    bottom: -100%;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    transition: 1s;
    color: #ccc;
}


.content-slider ul li:hover .content {
    bottom: 0;
    opacity: 1;

}

/* main block - slaider - end */

/* main block - raiting - start */
main .rating-boxes {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10px;
}

.rating-boxes p {
    margin: 0;
    padding: 0;
    font-size: 24px;

}

.rating-boxes .rating {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 0;

    border: 1px solid #000;
    box-sizing: border-box;
    background: linear-gradient(to right, #f00, #ff0, #0f0);
}

.rating-boxes .rating input {
    display: none;
}

.rating-boxes .rating label {
    display: block;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-sizing: border-box;

    font-size: 20px;
    color: #000;
    background: #fff;
    border-left: 1px solid #000;
}

.rating-boxes .rating input[type="radio"]:hover~label,
.rating-boxes .rating input[type="radio"]:checked~label {
    background: transparent;

}

/* main block - raiting - end */